body{
    background-color: #ffe6e6;
}
h1{
    color: blue;
    text-align: center;
    text-decoration: underline;
}
h2{
    color: rgb(7, 80, 7);
    text-align: center;
}
h3{
    text-align: center;
}
p{
    color: black;
    text-decoration: underline;
    text-align: center;
}
.centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.footer{
    color: rgb(172, 27, 172);
}
